<form [formGroup]="login" (ngSubmit)="onSubmit()">
    <label>Name</label>
    <input type="text" id="name" formControlName="name"><br>
    <div *ngIf="login.get('name')?.invalid && login.get('name')?.touched">
        name is required.
    </div>
    <label>Password</label>
    <input type="password" id="pword" formControlName="pword"><br>
    <div *ngIf="login.get('pword')?.invalid && login.get('pword')?.touched">
        password is required.
    </div>
    <button class="btn button" [disabled]="login.invalid" type="submit">submit</button>
</form>
<!-- <app-form [data]="parentData"></app-form> -->
<!-- <app-form [testing]=booleanData     ></app-form> -->

<app-form [child]="childData"></app-form>

