<div class="card-panel1 teal lighten-2">
    <div class="row">
      <div class="col m3"></div>
      <div class="col s2 m6 left-align">
          <img src="http://portal.bilardo.gov.tr/assets/pages/media/profile/profile_user.jpg" alt="Username"
          class="circle responsive-img" width="50">
          
      </div>
      <div class="col m3 center"><span style="color:honeydew"><h5>John Doe</h5></span></div>
    </div>
  </div>
  <div class="row backgroound" >
    
      <div class="col s2 m3"><span style="color:0b798f"><i class=" material-icons" >perm_contact_calendar
        </i></span></div>
      <div class="col s6 m6 left-align">
          <span style="color:black"><h6>Academic Calendar</h6></span>
      </div>
      <div class="col s4 m3 center"><span style="color:black"><h6>JAN 2019</h6></span></div>
    </div>
  